.tag {
  background-color: var(--primary-color);
  color: var(--white);
  padding: var(--spacing-xs) var(--spacing-m);
  border-radius: var(--radius-l);
  font-size: var(--font-size-l);
  cursor: pointer;
}