@font-face {
    font-family: 'YS Text';
    src:
            url('/public/fonts/YandexSansText-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YS Text';
    src:
            url('/public/fonts/YandexSansText-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YS Text';
    src:
            url('/public/fonts/YandexSansText-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}